.rectangle1 {
    width: auto;
    height: 205px;
    background-color: #272626;
}

.redLine {
    width: auto;
    height: 4px;
    background-color: #f10303;
}

.OSULogo {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    font-family: Trajan Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: auto;
    height: 32px;
    padding-left: 10px;
    flex-direction: column;
}

.labTitle {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 110px;
    font-family: Trajan Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    width: auto;
    height: 110px;
    padding-left: 30px;
    flex-direction: column;
}